

<div class="holder  justify-content-center">
    <div class="columnas">
      <section class="Bienvenidos">
        <br>
        <h2>Usuarios</h2>
        <br>
        <p>
        Nuevo usuario.
        <br>
        </p>
      </section>
    </div>

  <div class="holder">
    <form method="post" action="/admin/AltaUsuarios/nuevo">
    {{#each usuarioSel}}
      {{#if error}}
        <div class="alert alert-primary" role="alert">
          <h5>{{message}}</h5>
        </div>
      {{/if}}
        <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="usuario" id="usuario" aria-describedby="emailHelp"  value="{{usuario}}" placeholder="para loguearte">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="emailHelp" {{#if nombre}} value="{{nombre}}" {{/if}} placeholder="para saber como llamarte">
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellido" id="apellido" aria-describedby="emailHelp" {{#if apellido}} value="{{apellido}}" {{/if}} placeholder="para no confundirte con otro">
      </div>
      <div class="mb-3">
        <label for="mail" class="form-label">Correo Electr칩nico</label>
        <input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelp" {{#if mail}} value="{{mail}}" {{/if}} placeholder="para recibir notis">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contrase침a</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelp" placeholder="">
        <label for="password1" class="form-label">Repita la contrase침a</label>
        <input type="password" class="form-control" name="password1" id="password1" aria-describedby="emailHelp" placeholder="">
      </div>
      <div class="mb-3">
        <label for="perfil" class="form-label">Perfil</label>
        <select class="form-select" name="perfil" id="perfil">
          <option value="cocinero">Cocinero</option>
          <option value="cheff">Cheff</option>
          <option value="admin">Administrador</option>
        </select>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary ">Crear</button>
      </div>
    {{/each}}
    </form>
  </div>
  <br>
  <br>


  <div class="columnas">
    <section class="Bienvenidos">
      <br>
      <h2>Usuarios activos</h2>
      <br>
    </section>
  </div>

  <form method="post" action="/admin/AltaUsuarios/bm">
  <div class="holder">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Perfil</th>
        <th scope="col">seleccionar</th>
      </tr>
    </thead>
    <tbody>
      {{#each usuarios}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{usuario}}</td>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{mail}}</td>
        <td>{{perfil}}</td>
        <td><input type="radio" name="rseleccion" checked="checked" value="{{usuario}}">&nbsp;</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="first btn btn-success" value="borrar" id="boton" name="boton" onclick="if (!confirm('Est치 seguro?')) { return false }">Borrar</button> &nbsp;   <button type="submit" class="btn btn-primary" value="modificar" id="boton" name="boton">Modificar</button>
  </div>
  <br>
</form>
</div>
